:root {
  --primary-color: #287d7d;
  --primary-color-light: #62cdcd;
  --secondary-color: #67cc8e;
  --secondary-color-light: #a4e0bb;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: var(--primary-color-light) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: var(--secondary-color-light) !important;
}

.text-primary,
.mail-link {
  color: var(--primary-color) !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: var(--primary-color-light) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
  color: var(--secondary-color-light) !important;
}

.social-icons .social-icon:hover {
  background-color: var(--primary-color);
}
